body {
    background: rgb(255, 255, 255);
    color: rgb(137, 137, 137);
    font-family: "Poppins", helvetica;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.02em;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
h2 {
    color: rgb(41, 41, 41);
    font-weight: 600;
}
a {
    color: rgb(41, 41, 41);
    text-decoration: none !important;
}
p {
    padding: 0;
    font-size: 18px;
    color: rgb(153, 153, 153);
    line-height: 28px;
}
.padDiv {
    padding: 30px 20px;
}
.section-title {
    margin-bottom: 70px;
}
.section-title h2 {
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.paddsection {
    padding-top: 90px;
    padding-bottom: 90px;
}
.text-justified {
    text-align: justify;
}
.shop{
    height: 400px;
}
.ms{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}


#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.08);
}
#header .logo{
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Poppins", helvetica;
    font-style: italic;
    color: rgb(137, 137, 137);
}
#header .logo a {
    color: rgb(137, 137, 137);
    text-decoration: none;
}

#about {
    margin-top: 50px;
    width: 100%;
    height: auto;
    background: rgb(247, 247, 247);
}
.about-img .img-responsive{
    width: 100%;
    height: auto;
}
#about .about-descr .p-heading {
    margin-top: 28px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 28px;
    text-align: left;
}

#about .about-descr .separator {
    margin-bottom: 0;
    text-align: justify;
}


#footer {
    background: rgb(247, 247, 247);
    padding-top: 50px;
    padding-bottom: 50px;
}
#footer .socials-media {
    width: 100%;
}
#footer .socials-media ul {
    display: inline-block;
    float: none;
    margin: 0 0 20px 0;
}
#footer .socials-media ul li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
#footer .socials-media ul li a {
    font-size: 24px;
    color: rgb(153, 153, 153);
    letter-spacing: 0.1em;
    font-weight: 500;
    background: transparent;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out 0s;
}
#footer .socials-media ul li a:hover {
    color: rgb(114, 158, 240);
    transition: all 0.5s ease-in-out 0s;
}
#footer p {
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: 500;
    margin-top: 0;
    text-transform: uppercase;
}