{% extends "meandersuiteprerelease/mainfiles/mainlayout.html" %}
{% block style %}
    <style>
        /* Add any custom styles here */
    </style>
{% endblock style %}
{% block content %}
    <section class="py-5">
        <center><img src="{{ url_for('static', filename='meandersuiteprerelease/mainfiles/logoblack.png')}}" style="width:60%;" class="img-fluid px-5 my-5" alt="Product Image"></center>
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="mb-5">
                    <h1 class="fw-bolder text-center mb-2">Welcome To Meander Suite</h1>
                    <p class="lead">Meander Suite is a complex research application developed by Nielsen Innovations that specialises in the management of the school environment, childrens behaviours, and allowing students and staff alike to be more organised and prepared.</p>
                    <p class="lead">This app takes a researched and tested response to help teachers be more informed about the behaviours of their students. Using the 3 P's model, Predict, Prepare, Prevent. Teachers can make more informed decisions on how they can work with the environmental conditions, to maximise student learning. It offers a variety of tools to help students and teachers to make these decisions and manage behaviours.</p>
                </div>
            </div>
        </div>
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="text-center">
                        <h2 class="fw-bolder">Our Projects</h2>
                        <p class="lead">Discover our innovative projects designed to enhance your schooling and teaching experience and productivity.</p>
                    </div>
                </div>
            </div>
            <div class="row gx-5">
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="{{ url_for('static', filename='meandersuiteprerelease/mainfiles/news_slider_3.png')}}" alt="..." />
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">New</div>
                            <a class="text-decoration-none link-dark stretched-link" href="{{ url_for('mswdesc')}}"><h5 class="card-title mb-3">Meander Suite Weather</h5></a>
                            <p class="card-text mb-0">A revolutionary product that correlates weather data to behaviour and gives a heads up display as to what you can expect from a day.</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <a href="{{ url_for('mswdesc')}}" class="btn btn-primary">Explore more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add more project cards here -->
            </div>
        </div>
    </section>
{% endblock content %}