{% extends "meandersuiteprerelease/mainfiles/mainlayout.html" %}
{% block style %}
    <style>
        .text-justify {
            text-align: justify;
        }
        .img-fluid {
            width: 80%;
            height: auto;
        }
    </style>
{% endblock style %}
{% block content %}
    <section class="py-5">
        <div class="container px-5 my-5 text-center">
            <div class="col-lg-8 mx-auto mb-5">
                <img src="{{ url_for('static', filename='meandersuiteprerelease/mainfiles/logoblack.png')}}" style="width: 100%;" alt="Product Image">
            </div>
        </div>
        <div class="container px-5 mt-4 text-justify">
            <div class="row gx-5">
                <div class="mb-5 text-justify">
                    <h1 class="fw-bolder text-center mb-2">Welcome To Meander Suite</h1>
                    <p class="lead">Meander Suite is a complex and revolutionary research application developed by Nielsen Innovations that specialises in childrens behaviours and specifically how weather effects these behaviours. This app takes a researched and tested response to help teachers be more informed about the behaviours of their students. Using the 3 P's model, Predict, Prepare, Prevent. Teachers can make more informed decisions on how they can work with the environmental conditions, to maximise student learning. It offers a variety of tools to help students and teachers to make these decisions and manage behaviours.</p>
                    <h2 class="fw-bolder mb-4">This App Features</h2>
                    <ul class="lead text-justify">
                        <li class="lead">Advanced AI model: Heavily trained Artificial Intelligence model makes mathemaitcal and data based interpreteations of weather conditions based on researched bodily norms, and determines the severity of the weathers impact upon behaviours.</li>
                        <li class="lead">Weather display: Real-time weather display for teachers to use to determine further actions</li>
                        <li class="lead">Heads up display: Using an easy to read heads up display teachers can quickly determine the severity and details of the conditions and can make informed decisions on how to minimise and control student behaviors</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}