{% extends "meandersuiteprerelease/mainfiles/mainlayout.html" %}
{% block style %}
{% endblock style %}
{% block content %}
<section class="py-5" id="product-description">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <h1 class="fw-bolder mb-2">Meander Suite Weather</h1>
                <p class="lead">Meander Suite Weather is a revolutionary research application that specialises in childrens behaviours and specifically how weather effects these behaviours. <br/> This app aims to help teachers be more informed about the behaviours of their students. Using the 3 P's model, Predict, Prepare, Prevent. Teachers can make more informed decisions on how they can work with the environmental conditions, to maximise student learning. It offers a variety of tools to help teachers to make these decisions and manage behaviours.</p>
                <div>
                    <center><a href="{{ url_for('login')}}" class="btn btn-primary btn-lg">Sign Up!</a></center>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="{{ url_for('static', filename='meandersuiteprerelease/mainfiles/logoblack.png')}}" class="img-fluid rounded-3" alt="Product Image">
            </div>
        </div>
        <div class="row gx-5 mt-4">
            <div class="col-lg-12">
                <h2 class="fw-bolder mb-4">App Features</h2>
                <ul class="lead">
                    <li class="lead">Advanced AI model: Heavily trained Artificial Intelligence model makes mathemaitcal and data based interpreteations of weather conditions based on researched bodily norms, and determines the severity of the weathers impact upon behaviours.</li>
                    <li class="lead">Weather display: Real-time weather display for teachers to use to determine further actions</li>
                    <li class="lead">Heads up display: Using an easy to read heads up display teachers can quickly determine the severity and details of the conditions and can make informed decisions on how to minimise and control student behaviors</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock content %}