{% extends "meandersuiteprerelease/mainfiles/mainlayout.html" %}
{% block style %}
<style>
    html, body {
        background-color: rgb(240, 240, 240);
    }
</style>
{% endblock style %}
{% block content %}
<div class="container-fluid">
    <div class="container align-items-center my-5">
        <div class="align-items-center">
            <div class="card-body align-items-center">
                <form id="registerForm" method="POST">
                    <div class="mb-3 pb-1">
                        <img src="{{url_for('static', filename='meandersuiteprerelease/mainfiles/logoblack.png')}}", style="width: 40%; margin-left: 30%; margin-right: 30%;">
                    </div>
                    <div class="form-outline mt-4 my-3">
                        <input type="email" name="email" id="email" class="form-control form-control-lg" placeholder="Email" required />
                    </div>
                    <div class="form-outline my-3">
                        <input type="text" name="username" id="username" class="form-control form-control-lg" placeholder="Username" required />
                    </div>
                    <div class="form-outline my-3">
                        <input type="text" name="first_name" id="first_name" class="form-control form-control-lg" placeholder="First Name" required />
                    </div>
                    <div class="form-outline my-3">
                        <input type="text" name="last_name" id="last_name" class="form-control form-control-lg" placeholder="Last Name" required />
                    </div>
                    <div class="form-outline my-3">
                        <input type="text" name="location-l" id="location-l" class="form-control form-control-lg" placeholder="School Suburb/City" required />
                    </div>
                    <div class="form-outline my-3">
                        <input type="text" name="location-s" id="location-s" class="form-control form-control-lg" placeholder="School State/Region" required />
                    </div>
                    <div class="form-outline my-3">
                        <input type="text" name="location-c" id="location-c" class="form-control form-control-lg" placeholder="School Country" required />
                    </div>
                    <div class="form-outline my-3">
                        <input type="password" name="password" id="password" class="form-control form-control-lg" placeholder="Password" required />
                    </div>
                    <div class="form-outline my-3">
                        <input type="password" name="passwordconf" id="passwordconf" class="form-control form-control-lg" placeholder="Confirm Password" required />
                    </div>
                    <div class="pt-1 mb-1 text-center">
                        <input class="btn btn-secondary btn-lg btn-block" type="submit" name="register" id="register" value="Register">
                    </div>
                    <div class="pt-1 mb-1 text-center">
                        <a href="{{ url_for('login') }}" class="">Already have an account? Login</a>
                    </div>
                </form>
                <div id="registerMessage" class="text-center mt-3"></div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('registerForm').addEventListener('submit', function(event) {
        
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const passwordConf = document.getElementById('passwordconf').value;
        if (!email.includes('@')) {
            event.preventDefault();
            document.getElementById('registerMessage').innerHTML = '<div class="alert alert-danger">Invalid email address!</div>';
            return;
        }
        if (password !== passwordConf) {
            event.preventDefault();
            document.getElementById('registerMessage').innerHTML = '<div class="alert alert-danger">Passwords do not match!</div>';
            return;
        }
    });
</script>
{% endblock content %}