<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Nielsen Innovations</title>
  <meta content="Welcome to Nielsen Innovations The Personal Website of Lachlan Nielsen - A bowler and webdeveloper" name="description">
  <meta content="Lachlan Nielsen, Programmer, Web Developer, Bowling, Bowler, Lachlan, Nielsen, Nielsen Innovations" name="keywords">
  <link href="{{url_for('static', filename='main/img/favicon.png')}}" rel="icon">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i" rel="stylesheet">
  <link href="{{url_for('static', filename='main/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='main/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='main/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='main/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='main/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='main/css/style.css')}}" rel="stylesheet">
</head>
<body>
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="{{url_for('index')}}">NIELSEN INNOVATIONS</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link  scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link  scrollto" href="#journal">Blog</a></li>
          <li><a class="nav-link  scrollto" href="{{url_for('nilogin')}}">Client Hub</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>
  <div id="hero" class="home">
    <div class="container">
      <div class="hero-content">
        <h1>I'm <span class="typed" data-typed-items="Lachlan Nielsen, A Web Developer, A Bowler"></span></h1>
        <p>Web Developer, Bowler</p>
        <ul class="list-unstyled list-social">
          <li><a href="https://www.facebook.com/profile.php?id=100033197287519"><i class="bi bi-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/lachlan_nielsen_/"><i class="bi bi-instagram"></i></a></li>
          <li><a href="https://github.com/lachietech"><i class="bi bi-github"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <main id="main">
    <div id="about" class="paddsection">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-4 ">
            <div class="div-img-bg">
              <div class="about-img">
                <img src="{{url_for('static', filename='main/img/me.jpg')}}" class="img-responsive" alt="me">
              </div>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="about-descr">
              <p class="p-heading">HI I'M LACHLAN NIELSEN</p>
              <p class="separator">I am a 17 year old from Australia that dreams big. I have been programming and developing since I was 12, and my dream is to develop an app to aid other students in their schooling journeys. I am also an avid tenpin bowler, I fell in love with bowling through the Bowl Patrol Australia program and I havent put it down since! Join me on my journey!</p>
              <p class="p-heading">CONTACT ME</p>
              <p class="separator">nielseninnovations@outlook.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="services">
      <div class="container">
        <div class="services-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="services-block">
                <i class="bi bi-briefcase"></i>
                <span>Full Stack Development</span>
                <p class="separator">A Passionate Programmer Working In Full Stack Web App Development</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="services-block">
                <i class="bi bi-calendar4-week"></i>
                <span>Bowling</span>
                <p class="separator">An Avid Tenpin Bowler Training To Improve</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="services-block">
                <i class="bi bi-bar-chart"></i>
                <span>Self Development</span>
                <p class="separator">Just Another Human On This Earth Trying To Make Each Day Better Than The Last</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="services-block">
                <i class="bi bi-card-checklist"></i>
                <span>Leading The Younger Generations</span>
                <p class="separator">Guiding The Younger Generations Into Making Positive Life Choices</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="services-block">
                <i class="bi bi-brightness-high"></i>
                <span>Passion</span>
                <p class="separator">Doing Things For Love And Passion Above All Else</p>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
    <div id="portfolio" class="paddsection">
      <div class="container">
        <div class="section-title text-center">
          <h2>My Portfolio</h2>
        </div>
        <p class="separator">Whether you are looking for some of my aplications, or you are looking to check out what is in the works. This is the place! Pre-Releases are links that demonstrate the functionality of websites before they are released. These websites may be experimental and not all features may be working. Please do not disrespect the websites or attempt to purchase anything, as it will not work.</p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Applications</li>
              <li data-filter=".filter-web">Pre release</li>
            </ul>
          </div>
        </div>
        <div class="row portfolio-container">
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{{url_for('static', filename='main/img/portfolio/Meander Suite.png')}}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Meander Suite - Coming Soon</h4>
              <p>A web application that aims to improve the organisation of students.</p>
              <a href="https://meandersuite.com/" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{{url_for('static', filename='main/img/portfolio/specialksopal.png')}}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Special K's Opal - Coming Soon</h4>
              <p>An opal auction and sale page developed by Nielsen Innovations</p>
              <a href="https://specialksopal.com/" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{{url_for('static', filename='main/img/portfolio/meandersuiteprerelease.png')}}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Meander Suite - Pre Release</h4>
              <p>A web application that aims to improve the organisation of students.</p>
              <a href="{{url_for('meandersuite')}}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{{url_for('static', filename='main/img/portfolio/specialksopalprerelease.png')}}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Special K's Opal - Pre Release</h4>
              <p>An opal auction and sale page developed by Nielsen Innovations</p>
              <a href="{{url_for('specialksopal')}}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="journal" class="text-left paddsection">
      <div class="container">
        <div class="section-title text-center">
          <h2>journal</h2>
        </div>
      </div>
      <div class="container">
        <div class="journal-block">
          <div class="row">
            {% for post in posts %}
            <div class="col-lg-4 col-md-6">
              <div class="journal-info">
                <a href="{{url_for('blog', blogname=post.tag)}}"><img src="{{ post.image }}" class="img-responsive" alt="img"></a><!--720x540px img-->
                <div class="journal-txt">
                  <h4><a href="{{url_for('blog', blogname=post.tag)}}">{{ post.title }}</a></h4>
                </div>
              </div>
            </div>              
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </main>
  <div id="footer" class="text-center">
    <div class="container">
      <div class="socials-media text-center">
        <ul class="list-unstyled">
          <li><a href="https://www.facebook.com/profile.php?id=100033197287519"><i class="bi bi-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/lachlan_nielsen_/"><i class="bi bi-instagram"></i></a></li>
          <li><a href="https://github.com/lachietech"><i class="bi bi-github"></i></a></li>
        </ul>
      </div>
      <p>&copy; Copyright Lachlan Nielsen. All rights reserved.</p>
      <div class="credits">
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        Webpage Design by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <script src="{{url_for('static', filename='main/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='main/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static', filename='main/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{url_for('static', filename='main/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='main/vendor/typed.js/typed.umd.js')}}"></script>
  <script src="{{url_for('static', filename='main/js/main.js')}}"></script>
</body>
</html>