{% extends 'main/blog/post.html' %}
{% block body %}
<div class="block-main mb-30">
  <center><img src="{{url_for('static', filename='main/img/me.jpg')}}" class="img-responsive" alt="reviews2"></center>
  <div class="content-main single-post padDiv">
    <div class="journal-txt">
      <h4><a href="#">New Sponsor Alert</a></h4>
    </div>
    <div class="post-meta">
      <ul class="list-unstyled mb-0">
        <li class="author">by:<a href="#">Lachlan Nielsen</a></li>
        <li class="date">date:<a href="#">1st January, 2024</a></li>
      </ul>
    </div>
    <p class="mb-30">This Post Is Currently Unavalible</p>
  </div>
</div>
{% endblock %}