<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Nielsen Innovations - Blog</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="{{url_for('static', filename='img/favicon.png')}}" rel="icon">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Folio
  * Template URL: https://bootstrapmade.com/folio-bootstrap-portfolio-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<body>
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="{{url_for('index')}}">NIELSEN INNOVATIONS</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="index.html">Home</a></li>
          <li><a class="nav-link scrollto" href="{{url_for('index')}}">About</a></li>
          <li><a class="nav-link  scrollto" href="{{url_for('index')}}">Portfolio</a></li>
          <li><a class="nav-link  scrollto" href="{{url_for('index')}}">Blog</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>
  <main id="main">
    <div class="main-content paddsection">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-md-offset-2">
            <div class="row">
              <div class="container-main single-main">
                <div class="col-md-12">
                  <div class="block-main mb-30">
                    <center><img src="{{url_for('static', filename='img/malaysia post.jpg')}}" class="img-responsive" alt="reviews2"></center>
                    <div class="content-main single-post padDiv">
                      <div class="journal-txt">
                        <h4><a href="#">Malaysia 2023</a></h4>
                      </div>
                      <div class="post-meta">
                        <ul class="list-unstyled mb-0">
                          <li class="author">by:<a href="#">Lachlan Nielsen</a></li>
                          <li class="date">date:<a href="#">20th December, 2023</a></li>
                        </ul>
                      </div>
                        <p class="mb-30">BILL CHRISMAN U22 STORM INTERNATIONAL ALLSTARS MALAYSIA 2023</p>
                        <p class="mb-30">After a long section of flights and an abnormally large amount of sleep thanks to a cold I caught in my final days in Malaysia. I'm finally home and back to a little bit of a rhythm.</p>
                        <p class="mb-30">This trip has been an absolute dream! It still feels like I got the selection letter yesterday, and yet the trip is already over!</p>
                        <p class="mb-30">From seeing the lanes and the sights of Kuala Lumpur, to the bowling and environment, everything was a new experience. And I'm glad to say I loved every second of it.</p>
                        <p class="mb-30">The bowling over in Malaysia was fairly intense and lots of high scores and extremely talented bowlers meant cuts were high and room for error was low. To top this all off, a scheduling error made for some large delays sending late night bowling squads that were meant to be finished before midnight, well into the early morning, often not finishing until after 3 am on most nights. I was lucky to only be in one of these squads. Though others weren't so lucky.</p>
                        <p class="mb-30">As much as the bowling didn't go exactly my way, the goal going over there was not just to win, but to learn. With the pattern playing extremely difficultly and the lanes being new to me and unpredictable. There was bound to be some difficulties when attempting to play the pattern, especially when you are playing amongst some of the best junior/youth bowlers across Asia and Australia. You know a place is on a whole other level when the first thing you see when you walk into the center is someone throwing a 300 game...</p>
                        <p class="mb-30">Despite this, I still managed to score fairly well, although consistent scores were not easy to get. With the pattern breaking down so fast it was hard to keep up, and you often found yourself making drastic changes just to attempt to stay ahead.</p>
                        <p class="mb-30">I bowled a total of 7 squads and 21 games with footage of myself bowling being shared separately.</p>
                        <p class="mb-30">Scores in order are as below:</p>
                        <p class="mb-30">187<br>184<br>135<br>171<br>214<br>203<br>200<br>243<br>163<br>235<br>174<br>142<br>170 <br>221 <br>147<br>195<br>175<br>213<br>181<br>200<br>232 </p>
                        <p class="mb-30">My high series was a 613, and my high game was a 243, averaging almost 190 for the whole event, with a large number of games being over 200, I feel this is a huge achievement for me, especially considering that this is international competition.</p>
                        <p class="mb-30">I would like to give a massive shoutout to Gail Torrens and  Teresa Hinspeter, without your coaching and assistance, I probably would have found these conditions a lot harder, so thank you guys so much for everything you did over the trip, both on and off the lanes, looking after paperwork and sick children, this trip quite simply wouldn't happen without you guys.</p>
                        <p class="mb-30">I would like to give a personal shout out and a massive thank you to all the people who helped to support me in getting over to Malaysia, from the sausage sizzle, to the raffle, and the money tins that have been left out to support me and my south Queensland team mates get to Malaysia.</p>
                        <p class="mb-30">A special shoutout to Jesse Ellis (Revolution Bowling Supplies)and Troy Piffero for your coaching, support and equipment provision and care, I seriously can't thank you both enough for the miracles you work at times. I know it takes a lot to keep me in check.</p>
                        <p class="mb-30">A special shoutout to Special K'S opal for donating the raffle items, and the Sandgate senior citizens for your help selling and fund raising for the trip. This seriously couldn't have happened without you. So thank you so much.</p>
                        <p class="mb-30">To NDISmate and Michael Phipps, thank you for your help and contribution in getting me over to Malaysia.</p>
                        <p class="mb-30">And a massive thank you to my parents Debbie Nielsen and Peter Nielsen, for your tireless effort, ongoing and unwavering support and pride, and the ongoing sacrifice. Without the family banking and finance unit, this definitely wouldn't have happened, and I owe most of this to you. ❤️</p>
                        <p class="mb-30">Until next time Malaysia.</p>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div id="footer" class="text-center">
    <div class="container">
      <div class="socials-media text-center">
        <ul class="list-unstyled">
          <li><a href="https://www.facebook.com/profile.php?id=100033197287519"><i class="bi bi-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/lachlan_nielsen_/"><i class="bi bi-instagram"></i></a></li>
          <li><a href="https://github.com/lachietech"><i class="bi bi-github"></i></a></li>
        </ul>
      </div>
      <p>&copy; Copyright Lachlan Nielsen. All rights reserved.</p>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio
      -->
        Webpage Design by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/typed.js/typed.umd.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/php-email-form/validate.js')}}"></script>
  <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>