h1,h2,h3,h4,h5,a,p{
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.blockimg{
    width: 100%;
}
/* Custom Navbar Colors */
.navbar-custom {
    background-color: #564c4b; /* Replace with your desired background color */
}
  
.navbar-custom 
.navbar-brand,
.navbar-custom 
.navbar-nav 
.nav-link {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffffff; /* Replace with your desired text color */
}

.navbar-custom 
.navbar-toggler-icon {
    background-color: #ffffff; /* Replace with your desired color for the toggler icon */
}

.navbar-custom 
.navbar-toggler {
border-color: #ffffff; /* Replace with your desired border color for the toggler button */
}


.card{
    background-color: rgba(255, 255, 255, 0.15);
}
