body {
    font-family: sans-serif;
    background: #0f1115; 
    color: #e5e7eb; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
h1 { margin-bottom: 2rem; }
form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
input, button {
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #000;
    background: #9e9e9e;
    color: #000;
}
button {
    background: #2b2b2b;
    color: #fff;
    border: none;
    cursor: pointer;
}